<!-- start custom footer snippets -->
<div class="page__footer-follow">
  {% if page.lang == 'es' %}
  <ul class="social-icons">
    <li><a href="/"><i class="fa fa-fw fa-home" aria-hidden="true"></i>Inicio</a></li>
    <li><a href="/equipo/"><i class="fa fa-fw fa-group" aria-hidden="true"></i>Equipo</a></li>
    <li><a href="/financiacion/"><i class="fa fa-fw fa-dollar" aria-hidden="true"></i>Financiación</a></li>
    <li><a href="/contact/"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i>Contactar</a></li>
    <li><a href="/licencia/"> <img src="/assets/images/AGPLv3_Logo.png"></a></li>
  </ul>
  {% endif %}
  {% if page.lang == 'en' %}
  <ul class="social-icons">
    <li><a href="/home/"><i class="fa fa-fw fa-home" aria-hidden="true"></i>Home</a></li>
    <li><a href="/team/"><i class="fa fa-fw fa-group" aria-hidden="true"></i>Team</a></li>
    <li><a href="/funding/"><i class="fa fa-fw fa-dollar" aria-hidden="true"></i>Funding</a></li>
    <li><a href="/contact/"><i class="fa fa-fw fa-envelope" aria-hidden="true"></i>Contact</a></li>
    <li><a href="/licence/"> <img src="/assets/images/AGPLv3_Logo.png"></a></li>
  </ul>
  {% endif %}
</div>
<!-- end custom footer snippets -->
